<p>
  <b>Name:</b>
  <%=h @dict.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @dict.description %>
</p>

<% if admin? %>
<%= link_to 'Edit', edit_dict_path(@dict) %> |
<%- end %>
<%= link_to 'Back', dicts_path %>
